bundle: kubernetes
name: kubeflow-pipelines
applications:
  argo-controller:         { charm: ch:argo-controller, channel: latest/edge, scale: 1, trust: true }
  metacontroller-operator: { charm: ch:metacontroller-operator, channel: latest/edge, scale: 1, trust: true }
  minio:                   { charm: ch:minio, channel: latest/edge,       scale: 1 }
  kfp-db:                  { charm: ch:mysql-k8s, channel: 8.0/stable, scale: 1, constraints: mem=2G, trust: true }
  mlmd:                    { charm: ch:mlmd, channel: latest/edge, scale: 1, trust: true}
  envoy:                   { charm: ch:envoy, channel: latest/edge, scale: 1 }
  kubeflow-profiles:       { charm: ch:kubeflow-profiles, channel: latest/edge, scale: 1, trust: true }
  istio-ingressgateway:
    charm: istio-gateway
    channel: latest/edge
    scale: 1
    options:
      kind: ingress
    trust: true
  istio-pilot:
    charm: istio-pilot
    channel: latest/edge
    scale: 1
    options:
      default-gateway: kubeflow-gateway
    trust: true
  kubeflow-roles:
    charm: kubeflow-roles
    channel: latest/edge
    scale: 1
    trust: true
{%- if local_build == false %}
  kfp-api:                 { charm: ch:kfp-api, channel: latest/edge, scale: 1, trust: true}
  kfp-metadata-writer:     { charm: ch:kfp-metadata-writer, channel: latest/edge, scale: 1, trust: true}
  kfp-persistence:         { charm: ch:kfp-persistence, channel: latest/edge, scale: 1, trust: true }
  kfp-profile-controller:  { charm: ch:kfp-profile-controller, channel: latest/edge, scale: 1, trust: true }
  kfp-schedwf:             { charm: ch:kfp-schedwf, channel: latest/edge, scale: 1, trust: true}
  kfp-ui:                  { charm: ch:kfp-ui, channel: latest/edge, trust: true,            scale: 1 }
  kfp-viewer:                 { charm: ch:kfp-viewer, channel: latest/edge, scale: 1, trust: true}
  kfp-viz:                 { charm: ch:kfp-viz, channel: latest/edge, scale: 1, trust: true}
{%- else %}
  kfp-api:
    charm: {{ kfp_api }}
    resources: {{ kfp_api_resources }}
    scale: 1
    trust: true
  kfp-metadata-writer:
    charm: {{ kfp_metadata_writer }}
    resources: {{ kfp_metadata_writer_resources }}
    scale: 1
    trust: true
  kfp-persistence:
    charm: {{ kfp_persistence }}
    resources: {{ kfp_persistence_resources }}
    scale: 1
    trust: true
  kfp-profile-controller:
    charm: {{ kfp_profile_controller }}
    resources: {{ kfp_profile_controller_resources }}
    scale: 1
    trust: true
  kfp-schedwf:
    charm: {{ kfp_schedwf }}
    resources: {{ kfp_schedwf_resources }}
    scale: 1
    trust: true
  kfp-ui:
    charm: {{ kfp_ui }}
    resources: {{ kfp_ui_resources }}
    scale: 1
    trust: true
  kfp-viewer:
    charm: {{ kfp_viewer }}
    resources: {{ kfp_viewer_resources }}
    scale: 1
    trust: true
  kfp-viz:
    charm: {{ kfp_viz }}
    resources: {{ kfp_viz_resources }}
    scale: 1
    trust: true
{%- endif %}
relations:
- [argo-controller:object-storage, minio:object-storage]
- [kfp-api:relational-db, kfp-db:database]
- [kfp-api:kfp-api, kfp-persistence:kfp-api]
- [kfp-api:kfp-api, kfp-ui:kfp-api]
- [kfp-api:kfp-viz, kfp-viz:kfp-viz]
- [kfp-api:object-storage, minio:object-storage]
- [kfp-ui:object-storage, minio:object-storage]
- [envoy:grpc, mlmd:grpc]
- [kfp-metadata-writer:grpc, mlmd:grpc]
- [envoy:ingress, istio-pilot:ingress]
- [istio-ingressgateway:istio-pilot, istio-pilot:istio-pilot]
- [kfp-profile-controller:object-storage, minio:object-storage]
