bundle: kubernetes
applications:
  argo-controller:
    charm: argo-controller
    channel: 3.3/stable
    scale: 1
  argo-server:
    charm: argo-server
    channel: 3.3/stable
    scale: 1
  istio-ingressgateway:
    charm: istio-gateway
    channel: 1.16/stable
    scale: 1
    options:
      kind: ingress
    trust: true
  istio-pilot:
    charm: istio-pilot
    channel: 1.16/stable
    scale: 1
    options:
      default-gateway: kubeflow-gateway
    trust: true
  kfp-db:
    charm: mysql-k8s
    channel: 8.0/stable
    scale: 1
    options:
      profile: testing
    trust: true
  minio:
    charm: minio
    channel: ckf-1.7/stable
    scale: 1
  kubeflow-profiles:
    charm: kubeflow-profiles
    channel: 1.7/stable
    scale: 1
    trust: true
  kubeflow-roles:
    charm: kubeflow-roles
    channel: 1.7/stable
    scale: 1
    trust: true
  kfp-api:
    charm: {{ kfp_api }}
    resources: {{ kfp_api_resources }}
    scale: 1
    trust: true
  kfp-persistence:
    charm: {{ kfp_persistence }}
    resources: {{ kfp_persistence_resources }}
    scale: 1
  kfp-profile-controller:
    charm: {{ kfp_profile_controller }}
    resources: {{ kfp_profile_controller_resources }}
    scale: 1
  kfp-schedwf:
    charm: {{ kfp_schedwf }}
    resources: {{ kfp_schedwf_resources }}
    scale: 1
  kfp-ui:
    charm: {{ kfp_ui }}
    resources: {{ kfp_ui_resources }}
    scale: 1
  kfp-viewer:
    charm: {{ kfp_viewer }}
    resources: {{ kfp_viewer_resources }}
    scale: 1
  kfp-viz:
    charm: {{ kfp_viz }}
    resources: {{ kfp_viz_resources }}
    scale: 1
relations:
- - kfp-api:kfp-api
  - kfp-persistence:kfp-api
- - kfp-api:kfp-viz
  - kfp-viz:kfp-viz
- - istio-pilot:istio-pilot
  - istio-ingressgateway:istio-pilot
- - kfp-api:relational-db
  - kfp-db:database
- - kfp-api:object-storage
  - minio:object-storage
- - istio-pilot:ingress
  - kfp-ui:ingress
- - kfp-api:kfp-api
  - kfp-ui:kfp-api
- - kfp-profile-controller:object-storage
  - minio:object-storage
- - kfp-ui:object-storage
  - minio:object-storage
- - argo-controller:object-storage
  - minio:object-storage
