apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: '{{ namespace }}'
spec:
  type: ExternalName
  externalName: {{ minio_url }}
  ports:
    - name: minio
      protocol: TCP
      port: 9000
      targetPort: {{ minio_port }}
