apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: '{{ namespace }}'
spec:
  ports:
  - name: grpc 
    port: {{ grpc-port }}
    protocol: TCP
    targetPort: 8888
  - name: http
    port: {{ http-port }}
    protocol: TCP
    targetPort: 8887
  selector:
    app.kubernetes.io/name: {{ service }}
