apiVersion: v1
kind: Service
metadata:
  name: ml-pipeline
  namespace: '{{ namespace }}'
spec:
  ports:
  - name: grpc 
    port: {{ grpc_port }}
    protocol: TCP
    targetPort: 8887
  - name: http
    port: {{ http_port }}
    protocol: TCP
    targetPort: 8888
  selector:
    # This selector ensures this Service identifies
    # the kfp-api Pod correctly as ti will have
    # the same tag
    app.kubernetes.io/name: {{ app_name }}
