# Pinning charmed-kubeflow-chisme will avoid pip-compile to resolve
# conflicts by using an older version of this package.
# Version >=0.2.0 contains the base charm code that's needed.
charmed-kubeflow-chisme >= 0.2.0
lightkube
ops
# pydantic>=2.7 requires rustc v1.76 or newer,
# which is not available in the base OS this charm has at the moment (Ubuntu 20.04).
# To avoid build-time errors, pydantic has to be pinned to a version that can be built
# with the rustc version that the OS can provide.
# Remove this pin when the base OS can install rustc v1.76 or newer.
pydantic>=2.6,<2.7
serialized-data-interface
