aiohttp
# Install kfp SDK v2
kfp>=2.4,<3.0
# Workaround for https://github.com/python-jsonschema/jsonschema/issues/1117
# and https://github.com/python-jsonschema/jsonschema/issues/1114
jsonschema<4.18
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
lightkube
pytest
pytest-operator
pyyaml
tenacity
