# Source manifests/apps/pipeline/upstream/base/installs/multi-user/pipelines-profile-controller/composite-controller.yaml
# Change resyncPeriodSeconds to 1 hour from insane 20 seconds
# Change updateStrategy of secrets to InPlace to update on changing minio secret
# Only  sync namespaces with pipelines.kubeflow.org/enabled = "true"
apiVersion: metacontroller.k8s.io/v1alpha1
kind: DecoratorController
metadata:
  name: kubeflow-pipelines-profile-controller
spec:
  attachments:
  - apiVersion: v1
    resource: secrets
    updateStrategy:
    # updateStrategy is set to InPlace, unlike OnDelete in upstream, to update on changing minio secret
      method: InPlace
  - apiVersion: v1
    resource: configmaps
    updateStrategy:
      method: OnDelete
  - apiVersion: apps/v1
    resource: deployments
    updateStrategy:
      method: InPlace
  - apiVersion: v1
    resource: services
    updateStrategy:
      method: InPlace
  # istio objects are intentionally omitted from Charmed Kubeflow.
  # kfp-profile-controller currently does not use them, see in the sync.py.
  # - apiVersion: networking.istio.io/v1alpha3
  #   resource: destinationrules
  #   updateStrategy:
  #     method: InPlace
  # - apiVersion: security.istio.io/v1beta1
  #   resource: authorizationpolicies
  #   updateStrategy:
  #     method: InPlace
  hooks:
    sync:
      webhook:
        url: {{ sync_webhook_url }}
  resources:
  - apiVersion: v1
    resource: namespaces
    labelSelector:
      matchExpressions:
      - {key: {{ label }}, operator: Exists}
  resyncPeriodSeconds: 60
