apiVersion: v1
data:
  MINIO_ACCESS_KEY: {{ access_key }}
  MINIO_SECRET_KEY: {{ secret_key }}
kind: Secret
metadata:
  labels:
    app: {{ app_name }}
  name: {{ minio_secret_name }}
  namespace: {{ namespace }}
