options:
  k8s-service-name:
    type: string
    default: "ml-pipeline"
    description: Name of the Kubernetes service where kfp-api will expose itself
  grpc-port:
    type: string
    default: '8887'
    description: GRPC port
  http-port:
    type: string
    default: '8888'
    description: HTTP port
  log-archive-filename:
    type: string
    default: 'main.log'
    description: Name of log file in object storage
  log-archive-prefix:
    type: string
    default: '/artifacts'
    description: Prefix for log file in object storage
  auto-update-default-version:
    type: boolean
    default: true
    description: |
      If true, the default pipeline version will be updated
      when uploading a new version of a pipeline
  cache-image:
    type: string
    default: "gcr.io/google-containers/busybox"
    description: Which image to list as the backing image for a pipeline run step pulled from cache
  cache-enabled:
    type: boolean
    default: true
    description: If true, pipeline run steps can be cached instead of re-run
  runner-sa:
    type: string
    default: "default-editor"
    description: |
      Default pipeline runner service account.
      Used if service account is left unspecified when creating a run
  init-connection-timeout:
    type: string
    default: '6m'
    description: |
      Connection timeout used when initializing clients for related services.
      The format used can be anything accepted by `time.ParseDuration`.
  object-store-bucket-name:
    type: string
    default: "mlpipeline"
    description: Default name of object storage bucket.
  launcher-image:
    type: string
    # Source: https://github.com/kubeflow/pipelines/blob/2.0.5/backend/src/v2/compiler/argocompiler/container.go#L27
    default: "gcr.io/ml-pipeline/kfp-launcher@sha256:80cf120abd125db84fa547640fd6386c4b2a26936e0c2b04a7d3634991a850a4"
    description: Launcher image used during a pipeline's steps.
  driver-image:
    type: string
    # Source: https://github.com/kubeflow/pipelines/blob/2.0.5/backend/src/v2/compiler/argocompiler/container.go#L29
    default: "gcr.io/ml-pipeline/kfp-driver@sha256:8e60086b04d92b657898a310ca9757631d58547e76bbbb8bfc376d654bef1707"
    description: Driver image used during a pipeline's steps.
  log-level:
    type: string
    default: "info"
    description: Log level of api server
