# "charmed-kubeflow-chisme" pinned to avoid closed "latest" tracks with COS charms, see:
# canonical/charmed-kubeflow-chisme#155
charmed-kubeflow-chisme>=0.4.11
lightkube
ops
oci-image
serialized-data-interface
tenacity
# from prometheus_k8s.v0.prometheus_scrape.py
# Pinning due to https://github.com/canonical/bundle-kubeflow/issues/1260
cosl>=0.0.48
