# Source manifests/apps/pipeline/upstream/base/installs/multi-user/scheduled-workflow/cluster-role**.yaml
# These manifest files have been modified to suit the needs of the charm; the app label, metadata name,
# and namespace fields will be rendered with information from the application and the model.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}-role
rules:
- apiGroups:
  - argoproj.io
  resources:
  - workflows
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
  - delete
- apiGroups:
  - kubeflow.org
  resources:
  - scheduledworkflows
  - scheduledworkflows/finalizers
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
  - delete
- apiGroups:
  - ''
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ app_name }}-role
subjects:
- kind: ServiceAccount
  name: {{ app_name }}-sa
  namespace: {{ namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}-sa
  namespace: {{ namespace }}
