name: Publish

on:
  push:
    branches:
      - master
      - update-publish-*  # DEBUG: For testing only.  TODO: Remove.
      - branch/*  # DEBUG: For testing only.  TODO: Remove.

# TODO: Set the charm matrix from listing /charms folders

jobs:
  publish-charm:
    name: Publish Charm
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm:
          - kfp-api
          - kfp-persistence
          - kfp-profile-controller
          - kfp-schedwf
          - kfp-ui
          - kfp-viewer
          - kfp-viz
    steps:
      - uses: actions/checkout@v2
      # TODO: Update to @main when https://github.com/canonical/charmhub-upload-action/pull/1 merged
      - uses: canonical/charmhub-upload-action@branch/upload-charm-revisions
        with:
          credentials: ${{ secrets.CHARMCRAFT_CREDENTIALS }}
          charm-path: charms/${{ matrix.charm }}
          charmcraft-channel: latest/edge
